<section id="porquetarareo" class=" eaeaea twcss-relative twcss-flex twcss-flex-col twcss-items-center twcss-justify-center twcss-w-full twcss-h-screen twcss-bg-black">
  <div class="twcss-w-11/12 lg:twcss-w-10/12 twcss-max-w-[1120px] twcss-mx-auto twcss-py-16 lg:twcss-py-0">
    <div class="twcss-grid twcss-grid-cols-3">
      <div class="twcss-relative">
        <h2 class="twcss-absolute twcss-font-bebasneue twcss-uppercase twcss-text-[64px] twcss-leading-none twcss-text-white w-8/12 twcss-whitespace-nowrap">¿Porqué TARAREO?</h2>
      </div>
      {% for block in section.blocks %}
        {% if forloop.index0 == 0 %}
        <div class="twcss-col-start-3">
          <div class="twcss-text-white funcionalidad-ergonomia">
            <h2 class="twcss-font-novecento twcss-uppercase twcss-text-white">Funcionalidad <br />y Ergonomía</h2>
            <p>{{ block.settings.content }}</p>
          </div>
        </div>
        {% elsif forloop.index0 == 1 %}
        <div class="twcss-py-10">
          <div class="twcss-text-white estetica">
            <h2 class="twcss-font-novecento twcss-uppercase twcss-text-white">{{  block.settings.title }}</h2>
            <p>{{ block.settings.content }}</p>
          </div>
        </div>
        {% elsif forloop.index0 == 2 %}
        <div class="twcss-row-start-3 twcss-col-start-3 twcss-text-right">
          <div class="twcss-text-white innovacion">
            <h2 class="twcss-font-novecento twcss-uppercase twcss-text-white">{{  block.settings.title }}</h2>
            <p>{{ block.settings.content }}</p>
          </div>
        </div>
        {% endif %}
      {% endfor %}
      <div class="twcss-col-start-2 twcss-row-start-1 twcss-row-span-3 twcss-flex twcss-items-center twcss-justify-center">
        <img src="{{ 'porque-tarareo.png' | asset_url }}" width="827" height="682" class="twcss-block twcss-w-[116%] twcss-max-w-none">
      </div>
      <div class="twcss-aspect-[3/1]"></div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "¿Por qué Tarareo?",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "blocks": [
      {
        "name": "Title",
        "type": "title",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Text"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}
{% comment %} 
(function () {
  document.addEventListener('DOMContentLoaded', function() {
    gsap.registerPlugin(ScrollTrigger);
    let tl = gsap.timeline({
      scrollTrigger: {
        trigger: '#porquetarareo',
        start: 'bottom bottom',
        end: '+=100vh',
        pin: true,
        scrub: true,
        markers: true
      }
    });

    tl.from('.funcionalidad-ergonomia', { y: '300px' })
      .from('.estetica', { y: '300px' })
      .from('.innovacion', { y: '300px' });
    // gsap.from('.funcionalidad-ergonomia', {
    //   scrollTrigger: {
    //     trigger: '#porque-tarareo',
    //     start: 'top top',
    //     pin: true,
    //     scrub: true
    //   },
    //   y: '100vh'
    // });

  });
})();
{% endcomment %}