{% if page.id == 100754653380 %}
<section class="twcss-overflow-hidden twcss-w-full">
  <div class="twcss-flex twcss-flex-nowrap twcss-animate-marquee">
    <span class="twcss-flex twcss-justify-around twcss-basis-screen twcss-shrink-0">
      <span class="marquee-item twcss-text-black twcss-text-5xl lg:twcss-text-7xl twcss-uppercase twcss-text-nowrap twcss-space-x-3 twcss-px-2 twcss-py-12">
        <span class="twcss-font-minionpro">De la vista</span>
        <span class="twcss-font-novecento">nace el amor</span>
      </span>
    </span>
  </div>
</section>
{% endif %}
<section id="contact-us" class="contact-form twcss-relative twcss-bg-black twcss-overflow-hidden">
  {% if template contains 'index' or page.id == 100754653380 %}
  <div class="twcss-w-10/12 twcss-max-w-[1120px] twcss-mx-auto twcss-py-12">
    <div class="twcss-grid lg:twcss-grid-cols-2 twcss-items-stretch twcss-gap-10">
      <div class="twcss-flex twcss-flex-col twcss-justify-between">
        <div class="twcss-space-y-5 twcss-text-white">
          <h2 class="twcss-font-bebasneue twcss-uppercase twcss-text-[36px] lg:twcss-text-[64px] twcss-leading-none twcss-text-white w-8/12">!Generamos amor<br/> a tu marca!</h2>
          <p>Envíanos un mensaje para empezar a <i>crear magia</i>.</p>
        </div>
      </div>
      <div>
      {%- form 'contact', id: 'ContactForm' -%}
        {%- if form.posted_successfully? -%}
          <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
            {% render 'icon-success' %}
            {{ 'templates.contact.form.post_success' | t }}
          </h2>
        {%- elsif form.errors -%}
          <div class="form__message">
            <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
              {% render 'icon-error' %}
              {{ 'templates.contact.form.error_heading' | t }}
            </h2>
          </div>
          <ul class="form-status-list caption-large" role="list">
            <li>
              <a href="#ContactForm-email" class="link">
                {{ form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email }}
              </a>
            </li>
          </ul>
        {%- endif -%}
        <div class="twcss-grid twcss-grid-cols-2 twcss-gap-5">
          <div class="field twcss-col-span-2 md:twcss-col-span-1">
            <input
              class="twcss-appearance-none twcss-bg-transparent twcss-border twcss-border-white twcss-text-white twcss-rounded-md twcss-h-12 twcss-w-full twcss-px-5 placeholder:twcss-text-white/70"
              autocomplete="name"
              type="text"
              id="ContactForm-name"
              name="contact[{{ 'templates.contact.form.name' | t }}]"
              value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
              placeholder="{{ 'templates.contact.form.name' | t }}"
            >
            {% comment %} <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label> {% endcomment %}
          </div>
          <div class="field field--with-error twcss-col-span-2 md:twcss-col-span-1">
            <input
              autocomplete="email"
              type="email"
              id="ContactForm-email"
              class="twcss-appearance-none twcss-bg-transparent twcss-border twcss-border-white twcss-text-white twcss-rounded-md twcss-h-12 twcss-w-full twcss-px-5 placeholder:twcss-text-white/70"
              name="contact[email]"
              spellcheck="false"
              autocapitalize="off"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              aria-required="true"
              {% if form.errors contains 'email' %}
                aria-invalid="true"
                aria-describedby="ContactForm-email-error"
              {% endif %}
              placeholder="{{ 'templates.contact.form.email' | t }}"
            >
            {% comment %} <label class="field__label" for="ContactForm-email">
              {{- 'templates.contact.form.email' | t }}
              <span aria-hidden="true">*</span></label
            > {% endcomment %}
            {%- if form.errors contains 'email' -%}
              <small class="contact__field-error" id="ContactForm-email-error">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                <span class="form__message">
                  {%- render 'icon-error' -%}
                  {{- form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email -}}
                </span>
              </small>
            {%- endif -%}
          </div>
        </div>
        {% comment %} <div class="field">
          <input
            type="tel"
            id="ContactForm-phone"
            class="field__input"
            autocomplete="tel"
            name="contact[{{ 'templates.contact.form.phone' | t }}]"
            pattern="[0-9\-]*"
            value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
            placeholder="{{ 'templates.contact.form.phone' | t }}"
          >
          <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
        </div> {% endcomment %}
        <div class="field twcss-mt-5">
          <textarea
            rows="10"
            id="ContactForm-body"
            class="twcss-block twcss-appearance-none twcss-bg-transparent twcss-border twcss-border-white twcss-text-white twcss-rounded-t-md twcss-h-[150px] twcss-w-full twcss-px-5 twcss-py-4 placeholder:twcss-text-white/70"
            name="contact[{{ 'templates.contact.form.comment' | t }}]"
            placeholder="{{ 'templates.contact.form.comment' | t }}"
          >
            {{- form.body -}}
          </textarea>
          {% comment %} <label class="form__label field__label" for="ContactForm-body">
            {{- 'templates.contact.form.comment' | t -}}
          </label> {% endcomment %}
        </div>
        <button type="submit" class="twcss-bg-white twcss-text-black twcss-flex twcss-items-center twcss-justify-center twcss-h-14 twcss-rounded-b-md twcss-rounded-t-none twcss-w-full">
          {{ 'templates.contact.form.send' | t }}
        </button>
      {%- endform -%}
      </div>
    </div>
  </div>
  {% endif %}
</section>
<footer class="twcss-text-black">
  {% comment %}
  <div class="twcss-overflow-hidden twcss-w-full">
    <div class=" twcss-flex twcss-flex-nowrap twcss-animate-marquee">
      <span class="twcss-flex twcss-justify-around twcss-basis-screen twcss-shrink-0">
        <span class="marquee-item twcss-text-black twcss-text-5xl lg:twcss-text-7xl twcss-uppercase twcss-text-nowrap twcss-space-x-3 twcss-px-2 twcss-py-12">
          <span class="twcss-font-novecento">El arte de</span>
          <span class="twcss-font-minionpro">diseñar</span>
          <span class="twcss-font-novecento">y fabricar piezas</span>
          <span class="twcss-font-minionpro">exclusivas</span>
        </span>
      </span>
    </div>
  </div>
  {% endcomment %}
  <div class="twcss-w-10/12 twcss-max-w-[1120px] twcss-mx-auto twcss-pt-20">
    {% comment %} <div class=""> {% endcomment %}
    <div class="twcss-space-y-20 lg:twcss-space-y-0 md:twcss-grid md:twcss-grid-cols-2">
      <div class="twcss-flex twcss-justify-center md:twcss-justify-end md:twcss-row-start-1 md:twcss-col-start-2"> 
        <nav class="twcss-flex twcss-items-center twcss-space-x-8 md:twcss-self-start">
          {% for link in linklists.main-menu.links %}
            <a href="{{ link.url }}" class="twcss-leading-[40px]">{{ link.title }}</a>
          {% endfor %}
        </nav>
      </div>
      <div class="twcss-flex twcss-flex-col twcss-items-center md:twcss-items-start twcss-space-y-20 md:twcss-col-start-1">
        {{ section.settings.image | image_url: width: 117 | image_tag }}
        <div class="twcss-space-y-8">
          {%- if section.settings.direccion != blank -%}
            <p>📍{{section.settings.direccion}}</p>
          {%- endif -%}
          {%- if section.settings.telefono != blank -%}
            <p>{{section.settings.telefono}}</p>
          {%- endif -%}
          {%- if section.settings.email != blank -%}
            <p>{{section.settings.email}}</p>
          {%- endif -%}
        </div>
      </div>
      <div class="twcss-col-span-2 twcss-pb-24">
        <div class="twcss-flex twcss-items-center twcss-justify-center twcss-space-x-8 twcss-w-full">
          {%- if section.settings.social_fb != blank -%}
          <a href="{{ section.settings.social_fb }}" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="M5 3h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2m13 2h-2.5A3.5 3.5 0 0 0 12 8.5V11h-2v3h2v7h3v-7h3v-3h-3V9a1 1 0 0 1 1-1h2V5z" fill="#000000"/></svg>
          </a>
          {%- endif -%}
          {%- if section.settings.social_ig != blank -%}
          <a href="{{ section.settings.social_ig }}" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="#000000" d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"/></svg>
          </a>
          {%- endif -%}
          {%- if section.settings.social_tt != blank -%}
          <a href="{{ section.settings.social_tt }}" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="#000000" d="M20.357 7.75a.537.537 0 0 0-.495-.516a4.723 4.723 0 0 1-2.415-.938a4.85 4.85 0 0 1-1.887-3.3a.538.538 0 0 0-.517-.496h-2.108a.517.517 0 0 0-.517.527v12.59a2.794 2.794 0 0 1-2.974 2.762a2.815 2.815 0 0 1-2.51-3.711A2.836 2.836 0 0 1 9.93 12.78a.506.506 0 0 0 .558-.506V9.807s-.896-.063-1.202-.063a5.271 5.271 0 0 0-4.101 1.93a5.789 5.789 0 0 0-1.37 2.52a5.862 5.862 0 0 0 2.14 6.072A5.926 5.926 0 0 0 9.591 21.5a5.946 5.946 0 0 0 4.207-1.719a5.841 5.841 0 0 0 1.75-4.133V8.71a7.844 7.844 0 0 0 4.218 1.613a.517.517 0 0 0 .548-.527V7.751z"/></svg>
          </a>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
  <div class="twcss-border-t twcss-border-black twcss-text-center twcss-py-6 twcss-w-full">
    &copy; {{ 'now' | date: '%Y' }}, {{ 'Tarareo' | link_to: routes.root_url -}}
  </div>
</footer>
{% style %}
  .contact-form {
    background-attachment: fixed;
    background-image: url({{ 'bg-newsletter.png' | asset_url }});
    background-size: cover;
    background-position: center;
  }
{% endstyle %}
{% javascript %}
  (function () {
    document.addEventListener('DOMContentLoaded', function() {
      const marquees = document.querySelectorAll('.marquee-item');
      marquees.forEach(marqueeString => {
        const marqueeContainer = marqueeString.parentNode;
        const viewportWidth = window.innerWidth;
        const stringWidth = marqueeString.offsetWidth;
        let repeatCount = Math.floor(viewportWidth / stringWidth);
        if (repeatCount <= 1) {
          repeatCount = Math.floor((viewportWidth * 2) / stringWidth);
          marqueeContainer.classList.remove('twcss-basis-screen');
          marqueeContainer.classList.add('twcss-basis-screen2x');
        }
        for (let i = 1; i < repeatCount; i++) {
          const clone = marqueeString.cloneNode(true);
          marqueeContainer.appendChild(clone);
        }
        const marqueeContainerClone = marqueeContainer.cloneNode(true);
        marqueeContainer.parentNode.appendChild(marqueeContainerClone);
      });
    });
  })();
{% endjavascript %}
{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "direccion",
      "label": "Dirección"
    },
    {
      "type": "text",
      "id": "telefono",
      "label": "Teléfono"
    },
    {
      "type": "text",
      "id": "email",
      "label": "Email"
    },
    {
      "type": "url",
      "id": "social_fb",
      "label": "Facebook"
    },
    {
      "type": "url",
      "id": "social_ig",
      "label": "Instagram"
    },
    {
      "type": "url",
      "id": "social_tt",
      "label": "TikTok"
    }
  ] 
}
{% endschema %}