
<section id="stacked-at-scroll" class="twcss-relative twcss-bg-black twcss-w-screen twcss-h-screen twcss-flex twcss-flex-col">
  {% for block in section.blocks %}
    {% if forloop.index0 == 0 %}
      <div class="stacked-1 twcss-w-full twcss-pt-40">
      <div class="twcss-w-10/12 twcss-max-w-[1120px] twcss-mx-auto twcss-bg-black">
        <h2 class="twcss-font-bebasneue twcss-uppercase twcss-text-[64px] twcss-text-white twcss-leading-none">{{ block.settings.text }},</h2>
      </div>
    </div>
    {% elsif forloop.index0 == 1 %}
    <div class="stacked-2 twcss-w-full twcss-pt-12">
      <div class="twcss-w-10/12 twcss-max-w-[1120px] twcss-mx-auto twcss-bg-black">
        <h2 class="twcss-font-bebasneue twcss-uppercase twcss-text-[64px] twcss-text-white twcss-leading-none">{{ block.settings.text }},</h2>
      </div>
    </div>
    {% elsif forloop.index0 == 2 %}
    <div class="stacked-3 twcss-w-full twcss-pt-12 twcss-flex twcss-justify-center twcss-flex-grow">
      <div class="twcss-relative twcss-w-10/12 twcss-max-w-[1120px]">
        <h2 class="twcss-font-bebasneue twcss-uppercase twcss-text-[64px] twcss-text-white twcss-leading-none twcss-bg-black">{{ block.settings.text }}.</h2>
        <div class="twcss-absolute twcss-w-[98px] twcss-top-48 twcss-bottom-24 twcss-left-0">
          <div class="twcss-absolute twcss-bg-white twcss-w-[8px] twcss-h-[calc(100%-4px)] twcss-left-1/2 -twcss-translate-x-1/2">&nbsp;</div>
          <img src="{{ 'arrow-down-xl.png' | asset_url }}" width="100%" height="53" class="twcss-absolute twcss-bottom-0 twcss-left-0 twcss-w-full twcss-h-[53px]">
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  <div class="twcss-absolute twcss-flex twcss-justify-end twcss-w-10/12 twcss-max-w-[1120px] twcss-bottom-0 twcss-left-1/2 -twcss-translate-x-1/2 twcss-pb-24">
    {{ section.settings.foreground_image | image_url: width: 180 | image_tag: class: "bottom-right-item twcss-block" }}
  </div>
</section>
{% schema %}
  {
    "name": "Impulsamos tu marca",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "image_picker",
        "id": "foreground_image",
        "label": "Bottom Right Image"
      }
    ],
    "max_blocks": 3,
    "blocks": [
      {
        "name": "Slides",
        "type": "title",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Slide Text"
          }
        ]
      }
    ]
  }
{% endschema %}
{% javascript %}
(function () {
  document.addEventListener('DOMContentLoaded', function() {
    gsap.registerPlugin(ScrollTrigger);
    gsap.from('.bottom-right-item', {
      scrollTrigger: {
        trigger: '#tooltip-section',
        start: 'bottom bottom',
        scrub: true
      },
      x: '100vw'
    });
    gsap.from('.stacked-2', {
      scrollTrigger: {
        trigger: '#tooltip-section',
        start: 'bottom bottom',
        scrub: 2
      },
      y: '100vh'
    });
    gsap.from('.stacked-3', {
      scrollTrigger: {
        trigger: '#stacked-at-scroll',
        start: 'top top',
        pin: true,
        scrub: true
      },
      y: '100vh'
    });
  });
})();
{% endjavascript %}