
<section id="stacked-at-scroll" class="twcss-relative twcss-w-full twcss-h-screen twcss-flex twcss-flex-col twcss-bg-black twcss-overflow-hidden">
  {% for block in section.blocks %}
    {% if forloop.index0 == 0 %}
    <div class="stacked-1 twcss-w-full twcss-pt-40">
      <div class="twcss-w-10/12 twcss-max-w-[1120px] twcss-mx-auto twcss-bg-black">
        <h2 class="twcss-font-bebasneue twcss-uppercase twcss-text-[36px] lg:twcss-text-[64px] twcss-text-white twcss-leading-none">{{ block.settings.text }},</h2>
      </div>
    </div>
    {% elsif forloop.index0 == 1 %}
    <div class="stacked-2 twcss-w-full twcss-pt-12">
      <div class="twcss-w-10/12 twcss-max-w-[1120px] twcss-mx-auto twcss-bg-black">
        <h2 class="twcss-font-bebasneue twcss-uppercase twcss-text-[36px] lg:twcss-text-[64px] twcss-text-white twcss-leading-none">{{ block.settings.text }},</h2>
      </div>
    </div>
    {% elsif forloop.index0 == 2 %}
    <div class="stacked-3 twcss-w-full twcss-py-12 lg:twcss-pb-24 twcss-flex twcss-justify-center twcss-flex-grow">
      <div class="twcss-relative twcss-w-10/12 twcss-max-w-[1120px] twcss-h-full twcss-flex twcss-flex-col twcss-space-y-12">
        <h2 class="twcss-font-bebasneue twcss-uppercase twcss-text-[36px] lg:twcss-text-[64px] twcss-text-white twcss-leading-none twcss-bg-black">{{ block.settings.text }}.</h2>
        <div class="twcss-relative twcss-w-20 lg:twcss-w-24 twcss-flex twcss-flex-grow">
          <div class="twcss-absolute twcss-bg-white twcss-w-[4px] lg:twcss-w-[6px] twcss-h-[calc(100%-5px)] twcss-left-1/2 -twcss-translate-x-1/2 twcss-rounded-t-lg">&nbsp;</div>
          <div class="twcss-absolute aspect-[2/1] twcss-bottom-0 twcss-w-full">
            <img src="{{ 'arrow-down-xl.png' | asset_url }}" width="100%" height="53" class="twcss-w-full">
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  <div class="twcss-absolute twcss-flex twcss-justify-end twcss-w-10/12 twcss-max-w-[1120px] twcss-bottom-0 twcss-left-1/2 -twcss-translate-x-1/2 twcss-pb-16 lg:twcss-pb-24">
  <figure class="twcss-relative twcss-w-1/3 lg:twcss-w-[180px] aspect-[0.43/1] bottom-right-item">
  {{ section.settings.foreground_image | image_url: width: 180, height: 442 | image_tag: class: "twcss-block twcss-w-full twcss-h-full twcss-object-cover twcss-object-center" }}
  </figure>
  </div>
</section>
{% schema %}
  {
    "name": "Impulsamos tu marca",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "image_picker",
        "id": "foreground_image",
        "label": "Bottom Right Image"
      }
    ],
    "max_blocks": 3,
    "blocks": [
      {
        "name": "Slides",
        "type": "title",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Slide Text"
          }
        ]
      }
    ]
  }
{% endschema %}